<%- include('../partials/header') %>
<br>
<form class="text-center" id="new-form1" action="/players" method="POST">
  <label>Player Name:</label>
  <input class = newForm type="text" name="name">
  <label>Country:</label>
  <input class = newForm type="text" name="country">
  <label>Jersey Number:</label>
  <input class = newForm type="number" name="jerseyNo">
  <label>Position:</label>
  <input class = newForm type="text" name="position">
  <input type="submit" value="Add Player">
</form>

<%- include('../partials/footer') %>
