<%- include('../partials/header') %>
<br>
<form class = "text-center" id="new-form" action="/teams" method="POST">
  <label>Country:</label>
  <input class = newForm type="text" name="country">
  <label>Wins:</label>
  <input class = newForm type="number" name="wins">
  <label>Losses:</label>
  <input class = newForm type="number" name="losses">
  <input type="submit" value="Add Team">
</form>

<%- include('../partials/footer') %>
