<%- include('../partials/header') %>

<form id="new-form" action="/teams" method="POST">
  <label>Team:</label>
  <input type="text" name="team">
  <label>Country:</label>
  <input type="text" name="country">
  <label>Wins:</label>
  <input type="number" name="wins">
  <label>Losses:</label>
  <input type="number" name="losses">
  <input type="submit" value="Add Team">
</form>

<%- include('../partials/footer') %>
