<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome to <%= title %>
  </p>
  
    <a href="/">Home</a>
    <% if (user) { %>
    <a href="/teams">Team Page</a>
    <a href="/teams/new">Add Team</a>
    <a href="/players">Players</a>
    <a href="/players/new">Add Players</a>
    <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Log In</a>
        <% } %>
  
</body>

</html>

