body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

a {
  color: green;
}

.delete {
  color: red;
}

.update {
  width: 30%;
}

.updateBut {
  color: green;
}